@font-face {
    font-family: OpenSans-Regular;
    src: url(/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: LuckiestGuy-Regular;
    src: url(/assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

body {
    margin: 0;
}

header {
    margin: 0px;
    height: 505px;
    background-image: url(/assets/images/header-background-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 650px) {
        background-image: url(/assets/images/header-background-mobile.png);
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
    }
}

h1 {
    margin: 0;
    font-family: LuckiestGuy-Regular;
    font-size: 32px;
    color: #ffffff;
    line-height: 100%;
    align-self: flex-start;
    width: 70%;
}

p {
    margin: 0;
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
}

img {
    max-width: 100%;
}

button {
    display: flex;
    cursor: pointer;
    border-radius: 28px;
    width: 90%;
    height: 54px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: OpenSans-Regular;
    font-size: 16px;
}

.intro {
    padding: 69px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

#abrir-no-navegador {
    color: #FFFFFF;
    background-color: #23272A;
}